:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #242424;
  display: block;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
/* .article{
  background-color: red;
} */

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #000;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }

  .main-container {
    background: #ffd93b;
  }
  .btn-contact {
    background-color: #ffd93b;
    border-radius: 15px;
    border-color: #000;
  }
  .image-logo {
    width: 125px;
    background: #ffd93b;
    border: 2px solid #000;
  }
  .first-title {
    font-weight: 900;
    font-size: 75px;
    color: #ffa500;
    background: transparent;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      1px 1px 0 #000;
  }
  .second-title {
    font-weight: 900;
    font-size: 75px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      1px 1px 0 #000;
  }
  .title-section-tools {
    font-weight: 900;
    color: #000;
    font-size: xxx-large;
    text-shadow: -1px -1px 0 #f9f9f9, 1px -1px 0 #f9f9f9, -1px 1px 0 #f9f9f9,
      1px 1px 0 #f9f9f9;
  }

  .card-flip-main {
    justify-items: center;
  }
  .card-flip {
    perspective: 1000px;
    height: 380px;
    width: 95%;
    position: relative;
    margin-bottom: 20px;
    border-radius: 10%;
    justify-items: center;
  }

  .card-flip-inner {
    position: relative;
    width: 95%;
    height: 380px;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    border: 3px solid white;
    border-radius: 10%;
  }

  .card-flip:hover .card-flip-inner {
    transform: rotateY(180deg);
  }

  .card-flip-front,
  .card-flip-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 10%;
  }

  .card-flip-front img {
    max-width: 100%;
    max-height: 200px;
    object-fit: contain;
  }

  .card-flip-back {
    transform: rotateY(180deg);
  }
  .image-logo {
    width: 80px;
    background: #ffc107;
    border: 2px solid #000;
    margin-bottom: 4px;
  }
  .header-container {
    background-color: #000000;
  }
  @media (min-width: 768px) {
    .second-title {
      flex: 0 0 auto;
      width: 46% !important;
    }
  }
  .servicio i {
    font-size: 3rem;
    color: #000;
    margin-bottom: 15px;
  }
}
